* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5% 0 10%;
    position: relative;
    z-index: 10;
    background: white;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin: 0 22% 0 17%;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}

.req-invite {
    width: 160px;
    height: 42px;
    border: none;
    background: linear-gradient(90deg, hsl(136, 65%, 51%)0%, hsl(136, 65%, 51%) 5%, hsl(192, 70%, 51%) 100%);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .content {
    align-self: center;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: -250px;
    margin-left: 10%;
}

.hero .content h4 {
    font-size: 3rem;
    font-weight: 300;
    color: #2D314D;
}

.hero .content .description {
    color: hsl(233, 8%, 62%);
    margin: 30px 0;
    line-height: 1.4rem;
}

.hero .req-invite {
    align-self: flex-start;
}

.product-snaps {
    background: url("./images/bg-intro-desktop.svg") no-repeat;
    margin-top: -25%;
    transform: scaleY(0.8);
}

.product-snaps img {
    margin-top: 23%;
    transform: translateX(160px) scalex(0.8) scale(1.1);
    clip-path: inset(0 128px 0 0);
}