* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body * {
    border: 1px solid red;
}

.container {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 90vh 100vh 100vh 30vh 40vh;
    grid-template-areas: "header header" "hero-started hero-image" "why features" "testimonials-wrapper testimonials-wrapper" "started-wrapper started-wrapper" "footer footer";
}

.header {
    grid-area: header;
}

.hero-started {
    grid-area: hero-started;
}

.hero-image {
    grid-area: hero-image;
}

.why {
    grid-area: why;
}

.features {
    grid-area: features;
}

.testimonials-wrapper {
    grid-area: testimonials-wrapper;
}

.started-wrapper {
    grid-area: started-wrapper;
}

.footer {
    grid-area: footer;
}