* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}


/* desktop -- start */

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20vh 80vh 90vh 120vh 30vh 40vh;
    grid-template-areas: "header header" "hero-started hero-image" "why features" "testimonials-wrapper testimonials-wrapper" "started-wrapper started-wrapper" "footer footer";
    width: 75%;
    margin: 0 auto;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    flex: 1;
}

.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin: 0 auto;
}

.navbar .menu .item {
    padding: 2px 10px;
}

.navbar .menu .item a {
    color: hsl(228, 39%, 23%);
    font-size: 15px;
    font-weight: 500;
}

.navbar .menu .item:hover a {
    color: hsl(227, 12%, 61%);
    cursor: pointer;
}

.btn-get-started {
    width: 140px;
    border: none;
    border-radius: 30px;
    background: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    -webkit-box-shadow: 0 15px 20px -12px hsl(12, 88%, 59%);
    -moz-box-shadow: 0 15px 20px -12px hsl(12, 88%, 59%);
    box-shadow: 0 15px 20px -12px hsl(12, 88%, 59%);
}

.btn-get-started:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hero-started {
    grid-area: hero-started;
}

.hero-tagline {
    font-size: 3rem;
    font-weight: 700;
    color: hsl(228, 39%, 23%);
    padding-right: 60px;
    line-height: 3.8rem;
    margin: 30px 0;
}

.hero-description {
    color: hsl(227, 12%, 61%);
    margin-right: 140px;
    margin-bottom: 50px;
}

.hero-image {
    grid-area: hero-image;
}

.hero-image img {
    transform: scale(0.8);
}

.why {
    grid-area: why;
    margin-top: 130px;
}

.why .why-title {
    font-weight: 700;
    font-size: 2.5rem;
    padding-right: 50px;
    color: hsl(228, 39%, 23%);
}

.why .why-description {
    color: hsl(227, 12%, 61%);
    margin-top: 30px;
    margin-right: 140px;
}

.features-wrapper {
    grid-area: features;
    padding-left: 40px;
    margin-top: 120px;
}

.features-wrapper .features {
    display: flex;
}

.features-wrapper .features .number {
    background: hsl(12, 88%, 59%);
    border: none;
    border-radius: 20px;
    height: 30px;
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 98%);
}

.features-wrapper .features .feature {
    margin-left: 30px;
}

.features-wrapper .features .feature .title {
    font-size: 14px;
    font-weight: 700;
    color: hsl(228, 39%, 23%);
}

.features-wrapper .features .feature .description {
    color: hsl(227, 12%, 61%);
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.testimonials-wrapper {
    grid-area: testimonials-wrapper;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 -12.5%;
}

 ::-webkit-scrollbar {
    display: none;
}

.testimonials-wrapper .title {
    font-size: 2rem;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
}

.testimonials-wrapper .testimonials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 100px;
}

.testimonials-wrapper .testimonials .testimonial {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 0 40px;
    opacity: 1;
}

.testimonials-wrapper .testimonials .testimonial .name {
    margin: 30px 0;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
}

.testimonials-wrapper .testimonials .testimonial .review {
    color: hsl(227, 12%, 61%);
    text-align: center;
    line-height: 25px;
}

.started-wrapper {
    grid-area: started-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(12, 88%, 59%);
    margin: 0 -17%;
    padding-left: 17%;
    padding-right: 17%;
}

.started-wrapper .content {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    flex: 0 1 500px;
}

.started-wrapper .btn-get-started {
    color: hsl(12, 88%, 59%);
    background: white;
    font-weight: 700;
}

.started-wrapper .btn-get-started:hover {
    color: hsl(13, 100%, 75%);
    opacity: 1;
}

.footer {
    grid-area: footer;
    background: hsl(233, 12%, 13%);
    margin: 0 -17%;
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .brand-social {
    display: flex;
    flex-direction: column;
}

.footer .brand-social .social-icons {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer .brand-social .social-icons svg {
    fill: white;
}

.footer .brand-social .social-icons svg:hover {
    fill: hsl(12, 88%, 59%);
    cursor: pointer;
}

.footer .menu-wrapper {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
}

.footer .menu-wrapper li {
    padding: 7px 0;
}

.footer .menu-wrapper li a {
    color: white;
    font-size: 0.8rem;
}

.footer .menu-wrapper li:hover a {
    color: hsl(12, 88%, 59%);
    cursor: pointer;
}

.footer .newsletter .subscriber .email {
    border: none;
    border-radius: 25px;
    height: 35px;
    padding: 15px;
    font-size: 0.7rem;
}

.footer .newsletter .subscriber .go {
    border: none;
    border-radius: 25px;
    height: 35px;
    font-weight: bold;
    padding: 5px 15px;
    color: white;
    background: hsl(12, 88%, 59%);
}

.footer .newsletter .subscriber .go:hover {
    cursor: pointer;
    background: hsl(13, 100%, 75%);
}

.newsletter .copyright {
    color: hsl(227, 12%, 61%);
    font-size: 0.8rem;
    margin-top: 60px;
    float: right;
}


/* desktop -- end */


/* mobile -- start */

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        width: 100vw;
        text-align: center;
        overflow: hidden;
    }
    .header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: -3;
        padding-top: 40px;
    }
    .navbar,
    .header .btn-get-started {
        display: none;
    }
    .hero-started {
        order: -1;
    }
    .hero-image {
        padding-left: 22px;
        order: -2;
    }
    .hero-image img {
        transform: scale(0.7);
    }
    .hero-tagline {
        font-size: 2.4rem;
        line-height: 45px;
        padding: 0;
    }
    .hero-description {
        width: 100%;
        font-size: 1.2rem;
    }
    .why {
        margin-top: 60px;
    }
    .why .why-title {
        padding-right: 0;
    }
    .why .why-description {
        margin-right: 0;
        text-align: center;
    }
    .features-wrapper {
        margin-top: 80px;
        padding-left: 0;
    }
    .features-wrapper .features .feature .title {
        padding-top: 3px;
        float: left;
        font-size: 1rem;
        margin-left: -20px;
    }
    .features-wrapper .features .feature .description {
        margin-left: -100px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 1rem;
    }
    /*  */
    .testimonials-wrapper {
        position: relative;
        top: 0;
        left: 0;
    }
    .testimonials-wrapper .testimonials {
        padding: 0 8%;
    }
    .testimonials-wrapper .testimonials .slider-dots {
        height: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 80px;
        left: 0;
    }
    .testimonials-wrapper .testimonials .slider-dots .dot {
        font-size: 1.5rem;
        border: 2px solid hsl(12, 88%, 59%);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        list-style-type: none;
        margin: 0 5px;
    }
    .testimonials-wrapper .testimonials .slider-dots .dot.active {
        background: hsl(12, 88%, 59%);
    }
    .testimonials-wrapper .testimonials .testimonial {
        display: none;
        opacity: 0;
    }
    .testimonials-wrapper .testimonials .testimonial.active {
        opacity: 1;
        transition: opacity 2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1 0 90%;
        margin: 0;
    }
    .testimonials-wrapper .testimonials .testimonial img {
        width: 150px;
        height: 150px;
    }
    .testimonials-wrapper .testimonials .testimonial .name {
        margin: 20px 0;
        font-size: 0.9rem;
    }
    .testimonials-wrapper .testimonials .testimonial .review {
        font-size: 1.1rem;
        margin-top: -10px;
    }
    .started-wrapper {
        flex-direction: column;
        margin-top: 50px;
        padding: 60px 0;
    }
    .started-wrapper .content {
        flex: auto;
        line-height: 130%;
        padding-right: 70px;
        padding-left: 70px;
        font-size: 2rem;
    }
    .started-wrapper .btn-get-started {
        margin-top: 20px;
    }
    .footer {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        width: 100vw;
        padding-bottom: 50px;
    }
    .footer .newsletter {
        order: 0;
        margin-top: 40px;
        height: 70px;
    }
    .footer .newsletter .subscriber .email {
        height: 40px;
    }
    .footer .newsletter .copyright {
        position: relative;
        top: 41vh;
        margin-bottom: 50px;
    }
    .footer .menu-wrapper {
        order: 1;
        width: 100vw;
    }
    .footer .menu-wrapper li a {
        color: white;
        font-size: 1.1rem;
    }
    .footer .brand-social {
        margin-top: 30px;
        order: 2;
        flex-direction: column-reverse;
        height: 150px;
    }
    .footer .brand-social img {
        width: 40vw;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .footer .brand-social .social-icons {
        width: 90vw;
        margin-bottom: 40px;
        justify-content: space-around;
    }
    .footer .brand-social .social-icons svg {
        transform: scale(1.6);
    }
}


/* mobile -- end */